<div class="options">
  <div
    class="option active"
    style="
      --optionBackground: url(https://pbs.twimg.com/media/E6Ak3HhXEAMJd7h?format=jpg&name=4096x4096);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="http://pm1.narvii.com/6256/bf1d317827ae2e9592a260db9eda9471eedfa451_00.jpg"
          alt="luffy-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Monkey D. Luffy</h1></div>
        <div class="sub">
          <p>He is the founder and captain of the Straw Hat Pirates</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2022/04/Zoro-one-piece-fanart-kimetsu-no-yaiba.jpg?fit=1280%2C720&quality=80&ssl=1);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="http://pm1.narvii.com/6636/5ba0521c59b38573c50833165afcf3836eebf77b_00.jpg"
          alt="zoro-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Roronoa Zoro</h1></div>
        <div class="sub"><p>Is the combatant of the Straw Hat Pirates</p></div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://www.geekmi.news/__export/1649194476852/sites/debate/img/2022/04/05/nami3.jpg_994466685.jpg);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://depor.com/resizer/P4pYpUuLcImDi0jy80kOpWezz3I=/1200x1200/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/YN4PLEDP3FHPNEVZPBCMJYI2EQ.jpg"
          alt="nami-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Nami</h1></div>
        <div class="sub"><p>Is the navigator of the Straw Hat Pirates</p></div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://alfabetajuega.com/hero/2022/06/One-Piece-le-da-a-Usopp.jpg?width=1200&aspect_ratio=1200:631);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSQrEJ9y0kRQRUF_dSBkYj3vk9lGx2h0e12g&usqp=CAU"
          alt="usopp-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Usopp</h1></div>
        <div class="sub"><p>Is the sniper of the Straw Hat Pirates.</p></div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://areajugones.sport.es/wp-content/uploads/2019/10/one-piece-sanji.jpg);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://c.tenor.com/ekk_VETbTpoAAAAd/sanji.gif"
          alt="sanji-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Sanji</h1></div>
        <div class="sub"><p>Is the cook of the Straw Hat Pirates</p></div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://alfabetajuega.com/hero/2021/02/chopper.jpeg?width=1200&aspect_ratio=1200:631);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://i.pinimg.com/474x/c0/c7/1b/c0c71bcadc86be5ea1c9193e71e3b05a.jpg"
          alt="chopper-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Tony Tony Chopper</h1></div>
        <div class="sub"><p>Is the doctor of the Straw Hat Pirates</p></div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://somoskudasai.com/wp-content/uploads/2020/01/portada-nico-robin.jpg);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://i.pinimg.com/736x/50/c7/ac/50c7acf6789021fa9cc63fe85192b4fb.jpg"
          alt="nico-robin-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Nico Robin</h1></div>
        <div class="sub">
          <p>Is the archaeologist of the Straw Hat Pirates</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2022/06/Este-cosplay-de-One-Piece-convirtio-a-Franky-en-una-mujer-cyborg.jpg?fit=1280%2C720&quality=80&ssl=1);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://i.pinimg.com/736x/2b/30/fb/2b30fb861ef3979fc556b11681710b6f.jpg"
          alt="franky-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Franky</h1></div>
        <div class="sub"><p>is the shipwright of the Straw Hat Pirates</p></div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://cdn.myanimelist.net/s/common/uploaded_files/1460444393-5f023e4127dc9939c665bf69734c2c25.jpeg);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://laverdadnoticias.com/export/sites/laverdad/img/2021/02/28/one-piece-brook-fans-historia.jpg_949572519.jpg"
          alt="brook-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Brook</h1></div>
        <div class="sub"><p>Is the musician of the Straw Hat Pirates</p></div>
      </div>
    </div>
  </div>
  <div
    class="option"
    style="
      --optionBackground: url(https://preview.redd.it/fbhfnth353r81.jpg?auto=webp&s=f21436f9753e14fd4fa45ad1eca5fd8a6a05a06d);
    "
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <img
          src="https://ovicio.com.br/wp-content/uploads/2022/04/20220412-ovicio-one-piece-jinbe-555x555.jpg"
          alt="jinbe-icon"
        />
      </div>
      <div class="info">
        <div class="main"><h1>Jinbe</h1></div>
        <div class="sub"><p>is the helmsman of the Straw Hat Pirates</p></div>
      </div>
    </div>
  </div>
</div>
